{% extends 'base.html' %}

{% block title_section %}
  Commitee Home Page
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="mb-5">Welcome .</h1>

    <div class="d-flex justify-content-center mb-5">
      <a href="{% url 'view_applicant' %}" class="btn btn-primary mb-3 p-3 text-white" style="width: 250px; text-decoration: none;">View Applicant</a>
    </div>

    <div class="container col-auto row mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <a class="text-white" style="text-decoration: none; color: inherit;" href="{% url 'selected_applicant' %}"><button class="btn btn-primary mb-3 p-3" style="width: 250px;">Selected Applicant</button></a>
        <a class="text-white" style="text-decoration: none; color: inherit;" href="{% url 'comm_home' %}"><button class="btn btn-primary mb-3 p-3" style="width: 250px;">Accounts Department</button></a>
      </div>
    </div>


    <div class="container col-auto row mb-5">
      <div class="d-flex justify-content-between align-items-center">
        <a class="text-white" style="text-decoration: none; color: inherit;" href="{% url 'awarded_student' %}"><button class="btn btn-primary mb-3 p-3" style="width: 250px;">All Awarded Applicant</button></a>
        <a class="text-white" style="text-decoration: none; color: inherit;" href="{% url 'comm_home' %}"><button class="btn btn-primary mb-3 p-3" style="width: 250px;">Voting POLL</button></a>
      </div>
    </div>

    
  </div>
{% endblock %}
